{% extends "base.html.twig" %}

{% block title %}Product editor{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block body %}

<div class="all">
    <div class="header">
        <center><h1>Welcome to product editor</h1></center>
        <center><button class="add_new" onclick="return pr.showModal()">Добавить продукт</button></center>
    </div>

    <div class="products">
        <div class="inner">

            <table id="data_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="product-id">id</th>
                    <th class="product-name">Название</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Вес</th>
                    <th>Ширина</th>
                    <th>Высота</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

<div class="product_modal" id="modal">
    <div class="inner">
        <div class="title">
            <div class="intro">Добавить продукт</div>
            <div class="close_modal" onclick="return pr.closeModal()"><img src="/img/close_555.gif"></div>
        </div>

        <form action="" method="post">
            <input type="hidden" name="id" id="product_id" value="">
            <div class="field_modal_form">
                <label for="title" class="modal_label">
                    <span>Название продукта</span>
                </label>
                <input type="text" class="modal_inpt_text" id="title" name="title" required="required" placeholder="Название продукта">
                <span class="brd"></span>
            </div>
            <div class="field_modal_form">
                <label for="description" class="modal_label">
                    <span><i class="fa fa-list-alt"></i> Описание продукта</span>
                </label>
                <textarea name="description" id="description" required="required" placeholder="Краткое описание продукта"></textarea>
            </div>
            <div class="field_modal_form">
                <label for="price" class="modal_label">
                    <span><i class="fa fa-rub"></i> Стоимость</span>
                </label>
                <input type="number" class="modal_inpt_text" id='price' step="0.01" name="price" placeholder="Цена" required="required">
                <span class="brd"></span>
            </div>
            <div class="field_modal_form">
                <label for="weight" class="modal_label">
                    <span>Вес</span>
                </label>
                <input type="number" class="modal_inpt_text" id='weight' placeholder="Вес продукта" name="weight" step="0.01" required="required">
                <span class="brd"></span>
            </div>
            <div class="field_modal_form">
                <label for="width" class="modal_label">
                    <span><i class="fa fa-arrows-h"></i> Ширина</span>
                </label>
                <input type="number" class="modal_inpt_text" id='width' name="width" step="0.01" placeholder="Ширина" required="required">
                <span class="brd"></span>
            </div>
            <div class="field_modal_form">
                <label for="width" class="modal_label">
                    <span><i class="fa fa-arrows-v"></i> Высота</span>
                </label>
                <input type="number" class="modal_inpt_text" id='height' name="height" step="0.01" placeholder="Высота" required="required">
                <span class="brd"></span>
            </div>

            <div class="modal_save_btns_wrp">
                <button class="btn save" type="submit"><span class="glyphicon glyphicon-edit"></span> Сохранить продукт</button>
                <button class="btn cancel" onclick="return pr.closeModal()">Отмена</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript" src="js/dataTables.js"></script>
    <script type="text/javascript" async src="js/show.js"></script>
{% endblock js %}
